body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    text-align: center;
    color: white;
}

.title {
    padding: 30px;
    font-size: 40px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.games {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    background: white;
    color: black;
    width: 220px;
    padding: 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.thumb {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}
